body {
  padding: 0 0.5rem 1rem 0.5rem;
}
#spinner {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  font-weight: bold;
}
#spinner.off {
  display: none;
}
#errorMessage {
  color: red;
}
#rateLimit {
  font-weight: bold;
}
input, select {
  margin-bottom: 0.5rem;
}
input[type=text] {
  width: 350px;
}
#pageNumberSelect, label[for=pageNumberSelect] {
  visibility: hidden;
}
li.commit {
  font-size: 0.85rem;
}
li.pr {
  margin-bottom: 0.25rem;
}
