#spinner {
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  font-weight: bold;
}
#spinner.off {
  display: none;
}
#errorMesssage {
  color: red;
}
#rateLimit {
  font-weight: bold;
}
